@import url(/css/reset.css);
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300;400;500&display=swap");
.page_container {
  margin: 0 auto;
  display: flex;
}

html,
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  background: #181818;
  color: #FFFFFF;
}

.container{
    margin: 0 auto;
}

/* sidebar */
.sidebar {
  background-image: url(/img/sidebar_bg.jpg);
  background-repeat: no-repeat;
  background-color: #202020;

  width: 300px;
  height: 100vh;
  padding: 0 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;

  color: #ffffff;
  box-shadow: 5px 0px 15px rgba(5, 5, 5, 0.1);
}

.sidebar__user-img {
  margin-top: 130px;
  margin-bottom: 17px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.25);
}

.sidebar__user-name {
  font-size: 1.2em;
  line-height: 1.1em;
}

.sidebar__user-profession {
  font-weight: 300;
  font-size: 0.9em;
  line-height: 1.1em;
  color: #dedede;
}

.sidebar__soc-net {
  margin-top: 13px;
  display: flex;
  gap: 15px;
}

.sidebar__line {
  margin: 27px 0;
  width: 260px;
  border: 1px solid #1c1c1c;
}

.sidebar__characteristic {
  font-size: 0.8em;
  line-height: 1.4em;
  text-align: center;
}

.sidebar__buttons {
  display: flex;
  /* gap: 20px; */
}

.buttons__works,
.buttons__contact {
  padding: 13px 25px;
  font-size: 0.8em;
  line-height: 1.1em;
  border-radius: 25px;
}

.buttons__works {
  background: #ed3024;
  box-shadow: 0px 7px 17px -10px rgba(242, 63, 63, 0.2);
}

.buttons__contact {
  background: #3137c9;
  box-shadow: 0px 7px 17px -10px rgba(32, 84, 219, 0.35);
}
/* sidebar */

.main{
  width: 100%;
}

/* header */
.main__header{
  background: #0D0D0D;
  box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.25);
  height: 40px;

  font-size: 0.7em;
  line-height: 1.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  
  /* position: fixed; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__menu, .header__content{
  align-items: center;
  display: flex;
}
.menu__item, .header__content__profile{
  padding: 0 15px;
}
.header__content__search{
  background: #202020;
  box-shadow: -7px 1px 10px rgba(0, 0, 0, 0.3);
  height: 40px;
  width: 212px;
  padding: 14px 20px;
  font-size: 1.2em;
  line-height: 1.1em;
}

/* stories */
.stories{
  display: flex;
  border: 1px solid red;
  font-size: 0.8em;
  line-height: 1.1em;
  margin: 60px 50px 0;
}

.stories__content{
  display: flex;
  flex-direction: column;
  gap: 120px;
  
  width: 140px;
  height: 195px;
  
  margin: 0 auto;
  padding: 15px;
  
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 52.08%, rgba(0, 0, 0, 0.406154) 76.41%, rgba(0, 0, 0, 0.8) 100%), url(/img/stories-1.jpg);
  filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.2));
  border-radius: 5px;
}

.stories__content-one{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 52.08%, rgba(0, 0, 0, 0.406154) 76.41%, rgba(0, 0, 0, 0.8) 100%), url(/img/stories-1.jpg);
}

.stories__content-two{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 52.08%, rgba(0, 0, 0, 0.406154) 76.41%, rgba(0, 0, 0, 0.8) 100%), url(/img/stories-2.jpg);
}

.stories__content-three{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 52.08%, rgba(0, 0, 0, 0.406154) 76.41%, rgba(0, 0, 0, 0.8) 100%), url(/img/stories-3.jpg);
}

.stories__content-four{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 52.08%, rgba(0, 0, 0, 0.406154) 76.41%, rgba(0, 0, 0, 0.8) 100%), url(/img/stories-4.jpg);
}

.stories__content__date{
  text-align: right;
}

/* add-post */
.add-post{
  display: flex;
  justify-content: center;

  margin: 0 auto;
  background: #121212;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.45);
  border-radius: 5px;
}

.add-post__posting{
  width: 100px;
}