.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
}
.profile__text{
    margin: 100px auto;

    color: #ffffff;
    font-size: 1.3em;
    line-height: 1em;
}

.container__profile{
    width: 60em;

    margin: 30px auto;
    
    display: flex;
    justify-content: space-around;
}

.profile__form{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form--input{
    padding-bottom: 9px;

    font-size: 0.9em;
    line-height: 1.1em;
    color: #ffffff;

    width: 24em;

    border-bottom: 1px solid #3F3F3F;
}

.form--input:hover{
    cursor: pointer;
}

.form--input:focus{
    cursor: auto;
    border-bottom: 1px solid #107EFF;
}

.profile__btn{
    padding: 8px 15px;

    font-size: 0.8em;
    line-height: 1.1em;

    width: 7em;

    background: #3137C9;
    box-shadow: 0px 4px 15px -7px rgba(48, 55, 201, 0.3);
    border-radius: 5px;
}

.profile__form__img{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form__img__avatar{
    width: 150px;
    height: 150px;
}

.form__img__pick-avatar{
    text-decoration: underline;
    
    color: #107EFF;
    font-size: 0.9em;
    line-height: 1.1em;
}


@media (max-width: 1024px) {
    .container__profile{
        width: 40em;
    }
}

@media (max-width: 425px) {
    .container__profile{
        flex-direction: column-reverse;
        align-items: center;
        gap: 30px;
        width: 20em;
    }

    .form--input{
        width: 20em;
    }
}

@media (max-width: 320px) {
    .container__profile{
        width: 18em;
    }

    .form--input{
        width: 18em;
    }
}
