@import url(/css/reset.css);
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300;400;500&display=swap");
.page_container {
  margin: 0 auto;
  display: flex;
}

html,
body {
  font-family: "Roboto", sans-serif;
  /* overflow-x: hidden; */
  background: #181818;
  color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
}

/* sidebar */
.sidebar {
  background-image: url(/img/sidebar_bg.jpg);
  background-repeat: no-repeat;
  background-color: #202020;

  width: 300px;
  padding: 0 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;

  color: #ffffff;
  box-shadow: 5px 0px 15px rgba(5, 5, 5, 0.1);
}

.sidebar__user-img {
  margin-top: 130px;
  margin-bottom: 17px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.25);
}

.sidebar__user-name {
  font-size: 1.2em;
  line-height: 1.1em;
}

.sidebar__user-profession {
  font-weight: 300;
  font-size: 0.9em;
  line-height: 1.1em;
  color: #dedede;
}

.sidebar__soc-net {
  margin-top: 13px;
  display: flex;
  gap: 15px;
}

.sidebar__line {
  margin: 27px 0;
  width: 260px;
  border: 1px solid #1c1c1c;
}

.sidebar__characteristic {
  font-size: 0.8em;
  line-height: 1.4em;
  text-align: center;
}

.sidebar__buttons {
  display: flex;
  gap: 20px;
}

.buttons__works,
.buttons__contact {
  font-size: 0.8em;
  line-height: 1.1em;
  border-radius: 25px;
}

.buttons__works {
  padding: 13px 22px;
  background: #ed3024;
  box-shadow: 0px 7px 17px -10px rgba(242, 63, 63, 0.2);
}

.buttons__contact {
  padding: 13px 19px;
  background: #3137c9;
  box-shadow: 0px 7px 17px -10px rgba(32, 84, 219, 0.35);
}
/* sidebar */

.main {
  width: 100%;
}

/* header */
.main__header {
  background: #0d0d0d;
  box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.25);
  height: 40px;

  position: fixed;
  z-index: 2;
  width: 85%;

  font-size: 0.7em;
  line-height: 1.2em;
  text-transform: uppercase;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu,
.header__content {
  align-items: center;
  display: flex;
}

.header__burger {
  display: none;
  /* display: flex; */
  flex-direction: column;
  gap: 7px;
}

.burger__line {
  border: 1px solid #fff;
  width: 30px;
}

.menu__item,
.header__content__profile {
  padding: 0 15px;
}

.icons-list {
  padding: 3px 0 0 6px;
}

.menu__item a {
  color: #fff;
}

.header__content__search {
  background: #202020;
  box-shadow: -7px 1px 10px rgba(0, 0, 0, 0.3);

  height: 40px;
  width: 212px;

  padding: 14px 20px;

  font-size: 1.2em;
  line-height: 1.1em;
}

/* post */
.post {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 60em;

  margin: 100px auto;
  padding: 25px 27px;

  background: #202020;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
  border-radius: 5px;

  font-family: "Roboto", sans-serif;
}

.post__action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  opacity: 0.6;
  font-size: 0.8em;
  line-height: 1.1em;
}

.action__impart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 7px;

  cursor: pointer;
}

.action__impart:hover{
  color: #d2d2d2;
}

.post__text {
  font-size: 0.9em;
  line-height: 1.5em;
  color: #d2d2d2;
  padding-top: 25px;
}

.post__date,
.post__theme,
.related-post__content__date {
  font-size: 0.8em;
  line-height: 1.2em;

  color: #828282;
}

.post__img {
  width: 550px;
  height: 229px;
  margin: 0 auto;
  padding-top: 18px;
}

.post__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  gap: 12px;
}

/* .post__info__left {
  font-family: "Lato", sans-serif;
  display: flex;
  gap: 15px;
} */

.post__title {
  font-size: 1.2em;
  line-height: 1.1em;
  padding-top: 10px;
}

.interesting__line {
  border: 1px solid #1c1c1c;
  margin: 25px 0;
}

.interesting__title {
  font-weight: 500;
  font-size: 1em;
  line-height: 1.2em;
}

.interesting__related-post {
  margin-top: 19px;

  display: flex;
  flex-wrap: wrap;
  /* column-gap: 43px; */
  justify-content: space-around;
}

.related-post__row{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.related-post__content__text {
  color: #f3eba2;
  font-size: 0.9em;
  line-height: 1.1em;
}
/* .post__read {
  color: #107eff;
  line-height: 1.1em;
  font-size: 0.9em;
  cursor: pointer;
} */

.post__discussion{
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.post__discussion__comment{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.comment__text{
  border-bottom: 1px solid #3f3f3f;
  width: 56em;
}

.post__discussion__all-com{
  margin-top: 31px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.all-com__info, .all-com__info__answer{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.all-com__info__user{
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}

.info__user__img{
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.info__user__name{
  font-weight: 500;
  font-size: 0.8em;
  line-height: 1.1em;
}

.info__user__date{
  font-size: 0.8em;
    line-height: 1.2em;
    color: #757575;
}

.info__user__answer{
  color: #107eff;
    line-height: 1.1em;
    font-size: 0.9em;
    cursor: pointer;
}

.all-com__info__answer{
  padding-left: 30px;
}

/* Боковое меню */
.sidenav {
  display: flex;
  flex-direction: column;

  margin-top: 40px;
  padding-top: 82px;

  height: 100%;
  width: 0;

  position: fixed;

  z-index: 2;

  top: 0;
  left: 0;

  background-color: #111;
  background-image: url(/img/sidenav-bg.jpg);
  background-repeat: no-repeat;
  background-size: 300px 100px;

  overflow-y: auto;
  /* overflow-x: hidden; */
  transition: 0.5s all;
}

.sidenav__user-content {
  display: flex;
  gap: 10px;

  padding: 0 15px 12px;
}

.user-content__note, .info__user__note {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.sidenav__user-img {
  width: 65px;
  height: 65px;

  border-radius: 50%;
  border: 2px solid #ffffff;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.25);
}

.sidenav__user-name {
  font-size: 1em;
  line-height: 1.1em;
}

.sidenav__user-profession {
  font-weight: 300;
  font-size: 0.8em;
  line-height: 1.1em;
  color: #dedede;
}

.sidenav__nav-menu,
.nav-menu__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidenav__nav-menu {
  padding-top: 30px;

  border-top: 1px solid #1c1c1c;
}

.nav-menu__item,
.nav-menu__item__subitem {
  padding: 0 8px 0 17px;
  font-weight: 300;
  font-size: 1em;
  line-height: 1em;
  color: #fff;
}
.nav-menu__item__subitem {
  padding: 0 8px 0 30px;
}
.sidenav__buttons {
  display: flex;
  gap: 20px;
  padding: 30px 20px 0;
}

.sidenav a:hover {
  color: #107eff;
}

/* Cписок */
.dropbtn {
  color: white;
  padding: 14px 15px 14px 15px;
  border: none;
  text-transform: uppercase;
}

.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: absolute;
  min-width: 160px;
  top: 40px;
  z-index: 1;

  background: #3137c9;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 5px 5px;
}

.dropup-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropup-content a:hover {
  background-color: #1e23ac;
}

.dropup:hover .dropup-content {
  display: block;
}

.dropup:hover .dropbtn {
  background-color: #3137c9;
}

/* Модальное окно */
.contact-modal{
  /* display: none; */
  position: fixed;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  z-index: 2;
  transform: translateY(-44.5%) scale(0);
  transition: 0.4s ease-out;
  /* background-color: transparent; */
}

.share-modal{
  /* display: none; */
  position: fixed;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  z-index: 2;
  transform: translateY(-44.5%) scale(0);
  transition: 0.4s ease-out;
}
.share-modal.active{
  display: flex;
  transform: translateY(0%) scale(100%);
  background-color: rgba(0, 0, 0, 0.8);
}
.contact-modal.active {
  display: flex;
  transform: translateY(0%) scale(100%);
  background-color: rgba(0, 0, 0, 0.8);
}

.container__share{
  display: flex;
  justify-content: center;
  gap: 15px;

  margin-top: 12px;
  padding-bottom: 56px;
}

.contact-modal__container, .share-modal__container{
  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;
}

.share-modal__container__body,  .share-modal__container__body {
  display: flex;
  /* align-items: flex-end; */
  flex-direction: column;
  gap: 25px;

  margin: 150px auto;
  padding: 20px 20px;

  width: 500px;

  background: #202020;
  border-radius: 10px;

  position: relative;
}

.container__body{
  display: flex;
  /* align-items: flex-end; */
  flex-direction: column;
  gap: 25px;

  margin: 150px auto;
  padding: 20px 20px;

  width: 500px;

  background: #202020;
  border-radius: 10px;

  position: relative;
}

.container__cancel {
  display: flex;
  justify-content: flex-end;
}

.container__cancel__icons {
  width: 20px;
  height: 20px;
}

.form {
  padding-top: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.contact-input {
  border-bottom: 1px solid #3f3f3f;

  width: 340px;

  padding-bottom: 9px;

  font-size: 0.9em;
  line-height: 1.2em;
}

.contactBtn, .commentBtn {
  background-color: #3137c9;
  border-radius: 5px;

  padding: 8px 15px;

  color: #fff;
  font-size: 0.8em;
  line-height: 1.1em;
}

.container__info {
  margin-top: 11px;
  display: flex;
  justify-content: center;
  gap: 15px;

  color: #b3b3b3;
  font-size: 0.8em;
  line-height: 1.2em;
}

.info__email--span,
.info__number--span {
  text-decoration: underline;
}

@media (max-width: 1440px) {
  .main__header {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  .main {
    width: 71%;
  }

  .main__header {
    width: 71%;
  }

  .post {
    width: 40em;
    margin-top: 4em;
  }

  .comment__text{
    width: 37em;
  }
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .main {
    width: 100%;
  }

  .main__header {
    width: 100%;
  }

  .post {
    width: 40em;
  }

  .header__burger {
    display: flex;
    margin-left: 10px;
  }
}

@media (max-width: 425px) {
  .sidebar {
    display: none;
  }

  .main {
    width: 100%;
  }

  .menu__item {
    display: none;
  }

  .post {
    width: 25em;
  }

  .header__burger {
    display: flex;
    margin-left: 10px;
  }

  .post__img{
    width: auto;
    height: auto;
  }
  
  .container__body, .share-modal__container__body{
    width: 400px;
  }

  .contact-input{
    width: 300px;
  }

  .comment__text{
    width: 22em;
  }
  
  .interesting__related-post{
    row-gap: 20px;
  }
}

@media (max-width: 375px) {
  .post {
    width: 20em;
  }

  .post__img{
    width: auto;
    height: auto;
  }

  .container__body, .share-modal__container__body{
    width: 360px;
  }

  .comment__text{
    width: 17em;
  }
}

@media (max-width: 320px) {
  .sidebar {
    display: none;
  }

  .header__content__search {
    font-size: 1.4em;
    line-height: 1.4em;
    padding: 15px auto;
  }

  .header__content__profile {
    display: none;
  }

  .main {
    width: 100%;
  }

  .menu__item {
    display: none;
  }

  .post {
    width: 19em;
  }

  .header__burger {
    display: flex;
    margin-left: 10px;
  }

  .post__img{
    width: auto;
    height: auto;
  }

  .container__body, .share-modal__container__body{
    width: 300px;
    /* padding: 20px 10px; */
  }
  
  .contact-input{
    width: 250px;
  }

  .container__info{
    gap: 5px;
  }

  .post__info {
    flex-direction: row;
    gap: 13px;
  }

  .add-post__posting {
    width: 12em;
  }

  .comment__text{
    width: 16em;
  }
}
