@import url(/css/reset.css);
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300;400;500&display=swap");
.page_container {
  margin: 0 auto;
  display: flex;
}

html,
body {
  font-family: "Roboto", sans-serif;
  /* overflow-x: hidden; */
  background: #181818;
  color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
}

/* sidebar */
.sidebar {
  background-image: url(/img/sidebar_bg.jpg);
  background-repeat: no-repeat;
  background-color: #202020;

  width: 300px;
  padding: 0 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;

  color: #ffffff;
  box-shadow: 5px 0px 15px rgba(5, 5, 5, 0.1);
}

.sidebar__user-img {
  margin-top: 130px;
  margin-bottom: 17px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.25);
}

.sidebar__user-name {
  font-size: 1.2em;
  line-height: 1.1em;
}

.sidebar__user-profession {
  font-weight: 300;
  font-size: 0.9em;
  line-height: 1.1em;
  color: #dedede;
}

.sidebar__soc-net {
  margin-top: 13px;
  display: flex;
  gap: 15px;
}

.sidebar__line {
  margin: 27px 0;
  width: 260px;
  border: 1px solid #1c1c1c;
}

.sidebar__characteristic {
  font-size: 0.8em;
  line-height: 1.4em;
  text-align: center;
}

.sidebar__buttons {
  display: flex;
  gap: 20px;
}

.buttons__works,
.buttons__contact {
  font-size: 0.8em;
  line-height: 1.1em;
  border-radius: 25px;
}

.buttons__works {
  padding: 13px 22px;
  background: #ed3024;
  box-shadow: 0px 7px 17px -10px rgba(242, 63, 63, 0.2);
}

.buttons__contact {
  padding: 13px 19px;
  background: #3137c9;
  box-shadow: 0px 7px 17px -10px rgba(32, 84, 219, 0.35);
}
/* sidebar */

.main {
  width: 100%;
}

/* header */
.main__header {
  background: #0d0d0d;
  box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.25);
  height: 40px;

  font-size: 0.7em;
  line-height: 1.2em;
  text-transform: uppercase;
  color: #ffffff;

  /* position: fixed; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu,
.header__content {
  align-items: center;
  display: flex;
}

.header__burger {
  display: none;
  /* display: flex; */
  flex-direction: column;
  gap: 7px;
}

.burger__line {
  border: 1px solid #fff;
  width: 30px;
}

.menu__item,
.header__content__profile {
  padding: 0 15px;
}

.header__content__search {
  background: #202020;
  box-shadow: -7px 1px 10px rgba(0, 0, 0, 0.3);

  height: 40px;
  width: 212px;

  padding: 14px 20px;

  font-size: 1.2em;
  line-height: 1.1em;
}

/* stories */
.stories {
  display: flex;

  position: relative;

  font-size: 0.8em;
  line-height: 1.1em;

  margin: 60px 50px 0;
  /* border: 1px solid red; */
}

.stories__content {
  display: flex;
  flex-direction: column;
  gap: 120px;

  width: 140px;
  height: 195px;

  margin: 0 auto;
  padding: 15px;

  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 52.08%,
      rgba(0, 0, 0, 0.406154) 76.41%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(/img/stories-1.jpg);
  filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.2));
  border-radius: 5px;

  font-family: "Lato", sans-serif;
}

.stories__content-one {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 52.08%,
      rgba(0, 0, 0, 0.406154) 76.41%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(/img/stories-1.jpg);
}

.stories__content-two {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 52.08%,
      rgba(0, 0, 0, 0.406154) 76.41%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(/img/stories-2.jpg);
}

.stories__content-three {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 52.08%,
      rgba(0, 0, 0, 0.406154) 76.41%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(/img/stories-3.jpg);
}

.stories__content-four {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 52.08%,
      rgba(0, 0, 0, 0.406154) 76.41%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(/img/stories-4.jpg);
}
.stories__content__title {
  font-family: "Lato", sans-serif;
}
.stories__content__date {
  text-align: right;
}

/* add-post */
.add-post {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  height: 74px;

  padding: 15px 20px;
  /* margin: 0 auto; */

  background: #121212;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.45);
  border-radius: 5px;
}

.add-post__posting {
  width: 35em;
  padding: 13px 10px;

  cursor: pointer;

  font-size: 0.95em;
  line-height: 1.2em;
}

.add-post__photos,
.add-post__send {
  cursor: pointer;
  width: 44px;
  height: 44px;
}

/* post */
.post {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60em;

  margin: 0 auto;
  padding: 25px 27px;

  background: #202020;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
  border-radius: 5px;

  font-family: "Roboto", sans-serif;
}

.post__text {
  font-size: 0.9em;
  line-height: 1.5em;
  color: #d2d2d2;
}

.post__date,
.post__theme {
  font-size: 0.8em;
  line-height: 1.2em;

  color: #828282;
}

.post__img {
  width: 600px;
  height: 245px;
  margin: 0 auto;
}

.post__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.post__info__left {
  font-family: "Lato", sans-serif;
  display: flex;
  gap: 15px;
}

.post__title {
  font-size: 1.2em;
  line-height: 1.1em;
}
.post__read {
  color: #107eff;
  line-height: 1.1em;
  font-size: 0.9em;
  cursor: pointer;
}

.post__img2 {
  width: 550px;
  height: 280px;
  margin: 0 auto;
}

.post__img3 {
  width: 600px;
  height: 283px;
  margin: 0 auto;
}

/* pagenav */
.pagenav {
  display: flex;
  gap: 10px;
  margin: 0 auto 80px;
}

.pagenav__page,
.pagenav__prev,
.pagenav__next {
  padding: 12px 16px;

  cursor: pointer;

  background: #0d0d0d;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

.pagenav__page--active {
  background: #104be3;
  box-shadow: 0px 0px 10px rgba(58, 108, 234, 0.15);
  border-radius: 3px;
}

@media (max-width: 1024px) {
  .main {
    width: 71%;
  }

  .post {
    width: 40em;
  }
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .main {
    width: 100%;
  }

  .post {
    width: 40em;
  }

  .header__burger {
    display: flex;
    margin-left: 10px;
  }
}

@media (max-width: 425px) {
  .sidebar {
    display: none;
  }

  .main {
    width: 100%;
  }

  .menu__item {
    display: none;
  }

  .post {
    width: 25em;
  }

  .header__burger {
    display: flex;
    margin-left: 10px;
  }

  .stories {
    width: 340px;
    margin: 60px auto 0;
    gap: 30px;
    overflow-x: auto;
  }

  .stories__content {
    margin: 0;
    min-width: 140px;
    padding: 15px;
  }

  .stories::-webkit-scrollbar {
    display: none;
  }

  .post__img,
  .post__img2,
  .post__img3 {
    width: auto;
    height: auto;
  }
}

@media (max-width: 375px) {
  .post {
    width: 20em;
  }

  .post__img,
  .post__img2,
  .post__img3 {
    width: auto;
    height: auto;
  }

  .stories {
    overflow-x: auto;
    width: 340px;
    margin: 60px auto 0;
    gap: 20px;
  }

  .stories__content {
    margin: 0;
    min-width: 140px;
    padding: 15px;
  }
}

@media (max-width: 320px) {
  .sidebar {
    display: none;
  }

  .header__content__search {
    font-size: 1.4em;
    line-height: 1.4em;
    padding: 15px auto;
  }
  .header__content__profile {
    display: none;
  }
  .main {
    width: 100%;
  }

  .menu__item {
    display: none;
  }

  .post {
    width: 19em;
  }

  .header__burger {
    display: flex;
    margin-left: 10px;
  }

  .stories {
    overflow-x: auto;
    width: 300px;
    margin: 60px auto 0;
    gap: 13px;
  }
  .stories__content {
    margin: 0;
    min-width: 140px;
    padding: 15px;
  }

  .post__img,
  .post__img2,
  .post__img3 {
    width: auto;
    height: auto;
  }

  .post__info {
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
  }

  .add-post__posting {
    width: 12em;
  }
}
