
.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
}

.work__text{
    /* margin-top: 100px; */
    font-size: 1.3em;
    line-height: 1em;

    margin: 100px auto 0 330px;
}

.work__item-1, .work__item-2{
    width: 60em;
    /* height: 552px; */

    margin: 0 auto;

    background: #202020;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
}

.work__item__content{
    display: flex;

}

.content__img{
    width: 310px;
    height: 552px;
}

.content__right{
    padding: 25px 28px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content__title{
    font-size: 1.5em;
    line-height: 1.2em;
    font-weight: 500;
}

.content__text{
    /* width: 15em; */
    font-size: 1em;
    line-height: 1.7em;
    font-weight: 300;
}

.content__item{
    display: flex;
    gap: 10px;
}

.content__item__tag{
    padding: 4px 9px;
    
    font-size: 0.7em;
    line-height: 1.2em;
    color: #ffffff;

    background: #EA8C1E;
    border-radius: 3px;
}

.content__button{
    color: #fff;
    font-size: 0.8em;
    line-height: 1.1em;
    text-align: right;

    width: 10em;
    
    cursor: pointer;

    padding: 8px 14px;
    margin: 59px  0 0 auto;

    background: #3137C9;
    box-shadow: 0px 4px 15px -7px rgba(48, 55, 201, 0.3);
    border-radius: 5px;
}

.work__item-2{
    height: 512px;
    margin-bottom: 80px;
}

/* Адаптивка */
@media (max-width: 1440px) {
    .work__text{
        margin-left: 90px;
    }
}

@media (max-width: 1024px) {
    .work__text{
        margin-left: 40px;
    }

    .work__item-1, .work__item-2{
        width: 40em;
    }
}

@media (max-width: 768px) {
    .work__text{
        margin-left: 64px;
    }
}

@media (max-width: 425px) {
    .work__text{
        margin-left: 60px;
    }

    .work__item__content{
        flex-direction: column;
    }
    
    .content__right{
        gap: 30px;
    }

    .work__item-1, .work__item-2{
        width: 19em;
        height: auto;
    }
}

@media (max-width: 375px) {
    .work__text{
        margin-left: 36px;
    }
}

@media (max-width: 320px) {
    .work__text{
        margin-left: 10px;
    }
}
